body{
    margin: 0;
}

ul{
    list-style: none; /*gets rid of bullets*/
    display:flex;
    background-color: black;
    margin:0;
    padding:10px 0px;
    justify-content: flex-end;
   }

   li a{
    text-decoration: none; /*gets rid of underline*/
    color: white;
    padding: 10px 30px; /*first value: top/bottom, second value: left/right*/
    font-family: "Ruge Boogie", sans-serif;
    transition: color 1s, font-size 1s;
    font-size: 16px;
}



/* when you click on the link */
li a:active{
    background-color:white;
    color:black;
}

@media screen and (max-width: 800px){
    body{
        background-color: limegreen;
    }
    ul{
        flex-direction: column;
    }
    li{
        width: 100vw;
        padding: 10px 30px; /*first value: top/bottom, second value: left/right*/
    }
    li:hover{
        background-color:red;
    }
}

@media screen and (min-width: 800px){


}




li a:hover{
    background-color: darkslategrey;
    color: yellow;
    font-size: 32px;
}